.project
.pydevproject
.buildpath
*.pyc
*.log
*.bak
*.db
trades.txt
bitstampUSD.csv
.idea/inspectionProfiles/Project_Default.xml
.idea/market_analyzer.iml
.idea/market_analyzer.iml
.idea/workspace.xml
pypy/data/*.*
.idea/inspectionProfiles/profiles_settings.xml
.idea/market_analyzer.iml
.idea/workspace.xml
variables.py

