.project
.pydevproject
.buildpath
*.pyc
*.log
*.bak
*.db
trades.txt
bitstampUSD.csv
.idea/inspectionProfiles/Project_Default.xml
.idea/market_analyzer.iml
.idea/market_analyzer.iml
.idea/workspace.xml
pypy/data/nasdaq/*.*
.idea/inspectionProfiles/profiles_settings.xml
.idea/market_analyzer.iml
.idea/workspace.xml
variables.py

pypy/data/sandp/*.*
pypy/data/nyse/*.*
pypy/data/sandp_cmp.zip
pypy/data/csc2,2,6,3.txt
pypy/data/csc2,5,6,3.txt
pypy/data/csc3,2,3,1.txt
pypy/sandp500stocklist.txt
*.png